asgiref==3.4.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
Deprecated==1.2.13
Django==4.0.1
django-cors-headers==3.10.1
# django-oauth-toolkit==1.6.2
# local dev copy
/Users/ac45/src/django-oauth-toolkit
# master branch:
#git+https://github.com/jazzband/django-oauth-toolkit
idna==3.3
jwcrypto==1.0
oauthlib==3.1.1
pycparser==2.21
requests==2.27.1
sqlparse==0.4.2
urllib3==1.26.8
wrapt==1.13.3
